<!-- <script type="text/javascript" src="/public/js/lib/require.js" data-main="/public/js/main"></script> -->
<script type="text/javascript" src="/public/js/lib/require.js"></script>
<script type="text/javascript" src="/public/js/built.js"></script>
<link rel="stylesheet" href="/public/stylesheets/style.css">
<a href="user">User Page</a>
Hello World
